In [8]:
from sympy import *
import math
import itertools

In [5]:
## Chuong 1 
## b1
def giai_thua(n):
    if n == 1 or n == 0:
        return 1
    return n*giai_thua(n-1)

In [8]:
math.factorial(3)

6

In [14]:
## Tinh P(n,r), Hoan vi, chinh hop
list(itertools.permutations([1,2,3],2))

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [15]:
def P(n,r):
    return giai_thua(n) / giai_thua(n-r)

In [16]:
P(10,4)

5040.0

In [17]:
# To hop chap r cua n (n)
#                     (r)
def to_hop(n,r):
    return giai_thua(n) / (giai_thua(r)*giai_thua(n-r))

In [18]:
to_hop(5,3)

10.0

In [22]:
# Bang chan ly
import ttg
ttg.Truths(['p','q','r'],['p => (q or ~r) and (q != p)']).as_pandas()

   p  q  r  p => (q or ~r) and (q != p)
1  1  1  1                            0
2  1  1  0                            0
3  1  0  1                            0
4  1  0  0                            1
5  0  1  1                            1
6  0  1  0                            1
7  0  0  1                            1
8  0  0  0                            1

In [1]:
# Kiem tra n co phai so nguyen to khong

def is_prime(n):
    if n%2 ==0 and n> 2:
        return false
    for i in range(3, int(math.sqrt(n)),2):
        if n % i ==0:
            return false
    return true

In [8]:
# Chuong 3 
A = {1,2,3,4}
B = {1,3,5,7,9}

# A hop B:
A.union(B)
A | B
# A giao B:
A.intersection(B)
A & B
# A - B:
A.difference(B) 
A - B
# A delta B 
A ^ B
A.symmetric_difference(B)

{2, 4, 5, 7, 9}

In [10]:
#liet ke tat ca cap cua A x B
A = {1,2,3,4}
B = {1,3,5,7,9}
for a in A:
    for b in B:
        print((a,b))

(1, 1)
(1, 3)
(1, 5)
(1, 7)
(1, 9)
(2, 1)
(2, 3)
(2, 5)
(2, 7)
(2, 9)
(3, 1)
(3, 3)
(3, 5)
(3, 7)
(3, 9)
(4, 1)
(4, 3)
(4, 5)
(4, 7)
(4, 9)

In [3]:
#day fibonacci

def F(n):
    if n == 0 :
        return 0
    if n == 1:
        return 1
    if n >= 2:
        return F(n-1) + F(n-2)

In [4]:
F(10)

55

In [5]:
def a(m,k):
    if m == 0 & k == 0:
        return 1
    if k>= m | k<0:
        return 0
    if k>=0 & k <= m-1:
        return (m-k)*a(m-1,k-1) + (k+1)*a(m-1,k)

In [6]:
a(5,3)

688

In [12]:
# gcd 
from sympy import *
math.gcd(2023,1401)
n = symbols('n')
gcd(8*n+3,5*n+2)

1

In [10]:
def gcd(a,b):
    if b == 0:
        return a
    else: 
        return gcd(b,a%b)

In [13]:
#tim khai trien Euclid của 91 và 287
from sympy import *
gcdex(91,287)

(19, -6, 7)

In [16]:
def gcdex(a,b):
    x0, y0 = 1, 0
    x1, y1 = 0, 1
    while b != 0:
        q = a // b 
        a , b = b, a % b
        x=x0-x1*q
        y = y0 - y1 * q
        x0, y0 = x1, y1
        x1, y1 = x, y 
    return x0, y0, a
gcdex(91,287)

(19, -6, 7)

In [17]:
from sympy import * 
ilcm(2023,1401)

2834223

In [20]:
#tinh (2023)5
a = [3,2,0,2]
b = 5

n = 0
k = len(a)
for i in range(k-1,-1,-1):
    n = n * b + a[i]
n

263

In [21]:
# tìm biểu diễn của 2023 trong cơ số 8
n , b = 2023,8
a = []

while n!=0:
    a.append(n%b)
    n //= b 
a # 3747

[7, 4, 7, 3]

In [28]:
# tính (2023)5 + (1401)5

a = [3,2,0,2]
b = [1,0,4,1]
base = 5

k = len(a)
r = 0
s = [0] * (k+1)

for i in range(k):
    t =  a[i] + b[i] + r
    s[i] = t % base
    r = t // base
s[k] =  r


s

[4, 2, 4, 3, 0]

In [29]:
# phan tich 2023 thanh thừa số nguyên tố 
from sympy import *
factorint (980220) # {2: 2, 3: 1, 5: 1, 17: 1, 31: 2}

{2: 2, 3: 1, 5: 1, 17: 1, 31: 2}

In [32]:
def factorint(n):
    i = 2
    fact = {}
    while n> 1:
        while n % i != 0:
            i += 1
        e = 0
        while n % i == 0:
            n //= i
            e += 1
        fact[i] = e
    return fact

In [34]:
factorint(980220)

{2: 2, 3: 1, 5: 1, 17: 1, 31: 2}